# Arquivo de ambiente — NUNCA subir pro Git!
.env

# Build Maven
target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Classes DAO e AIService
src/main/java/com/studymate/util
src/main/java/com/studymate/service